<!-- /templates/main/fragments/menu.html -->
<th:block th:fragment="menu">
    <!-- 헤더 -->
    <header>
        <div class="header-inner">
            <div class="box-logo">
                <a href="./home">
                    <img src="/images/header_logo.png" alt=""
                         srcset="/images/header_logo.png 1x, /images/header_logo@2x.png 2x">
                </a>
            </div>

            <div class="wrap-menu">
                <div class="box-btn">
                    <div class="btn-link">
<!--                        <a href="#none">한국어</a>-->
                    </div>
                    <div class="btn-direct">
                        <a href="/web/contact">Get Started</a>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li th:classappend="${activeMenu == 'home'} ? 'on'">
                            <a th:href="@{/web/home}">Home</a>
                        </li>

                        <li th:classappend="${activeMenu == 'about'} ? 'on'">
                            <a th:href="@{/web/about}">About Us</a>
                        </li>

                        <li th:classappend="${activeMenu == 'services'} ? 'on'">
                            <a th:href="@{/web/services}">Services</a>
                        </li>

                        <li th:classappend="${activeMenu == 'portfolio'} ? 'on'">
                            <a th:href="@{/web/portfolio}">Portfolio</a>
                        </li>

                        <li th:classappend="${activeMenu == 'blog'} ? 'on'">
                            <a th:href="@{/web/blog}">Blog</a>
                        </li>

                        <li th:classappend="${activeMenu == 'contact'} ? 'on'">
                            <a th:href="@{/web/contact}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="box-btn pc-menu">
                <div class="btn-link">
<!--                    <a href="#none">한국어</a>-->
                </div>
                <div class="btn-direct">
                    <a href="./contact">Get Started</a>
                </div>
            </div>

            <div class="btn-menu" onclick="$('header').toggleClass('active')">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </header>
</th:block>